/* CSS para o Menu de Páginas */
div#menu-pages {
	position:fixed;
	left:0;
	top:286px;
	font-family: Cabin;
	font-size:22px;
}

div#menu-pages a {
	display:block;
	margin-bottom:2px;
	height:35px;
}

div#menu-pages a#menu-pages-obxc {
	height: 56px;
}

div#menu-pages a:hover {
	background-color:rgba(34,196,252,1.0);
}
