/* CSS para o Menu de Páginas */
div#menu-pages {
	position:fixed;
	left:-1020px;
	top:65px;
	font-family: Cabin;
	font-size:22px;
}

div#menu-pages a {
	display:block;
	margin-bottom:2px;
	width:200px;
	height:35px;
	padding:0 0 0 10px;
	text-decoration:none;
	color:#fff;
	background-color:rgba(34,196,252,0.5);
}

div#menu-pages a:hover {
	background-color:rgba(34,196,252,1.0);
}
